<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
        <title>Tune Squad</title>
        <link href="https://unpkg.com/bulmaswatch/nuclear/bulmaswatch.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet"/>
    </head>

    <body>
        <section class="hero is-medium is-dark is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title has-text-centered ">Tune Squad</h1>
                </div>
            </div>
        </section>
        <div>
            {{ body }}
        </div>
    </div>
    </body>
</html>
